.hero{
	background-image: url('../image/wiser.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 750px;
	background-size: 100%


}
.hero p{
	color:#fff;
	text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    margin-left: auto;
    width: 100%

  

}